<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/003c59ead5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="map"></div>
    
    <div id="fuel-list" class="fuel-list bg-white" draggable="true">
        <div class="font-semibold capitalize bg-blue-600 py-3 px-2 rounded-t-md">
            <p class="text-center text-white">
              Danh sách cây xăng
            </p>
          </div>

          <p class="text-end mt-3 px-3">
            <a href='/'
               class="rounded-full bg-blue-500 hover:bg-blue-600 px-4 py-2 text-white text-sm font-semibold " 
                >
                Home
            </a>
        </p>

        <p class="my-2 px-3">
            <span class="font-semibold">Vị trí của bạn:</span> <%= location %>
        </p>

        <div class="px-3 py-4">
            <% for (item of queryResult) { %>
                <div class="bg-white rounded-lg py-2" id="" >
                    <p class="">
                        <span class="font-semibold">Tên cây xăng:</span> <%= item.name %>
                    </p>
                    <p class="text-end mt-3">
                        <a href='/route?departLocation=<%= location %>&destLocation=<%= item.lat %>,<%= item.long %>'
                           class="rounded-full bg-blue-500 hover:bg-blue-600 px-5 py-2 text-white text-sm font-semibold " 
                            >
                            Chỉ đường
                        </a>
                    </p>
                    <hr class="mt-3">
                </div>
                <% } 
            %>
        </div>
        
    </div>
</body>
<script>
    const yourLocation = <%- JSON.stringify(location) %>;
    const fuel = <%- JSON.stringify(queryResult) %>;
</script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/fuel.js"></script>

</html>